.old_apk/
.idea/
.vscode/
.dart_tool/
.flutter-plugins-dependencies
build/

/lib/core/keys.dart

# Android Studio will place build artifacts here
/android/.gradle/
/android/build/
/android/keystore/
/android/.kotlin/
/android/local.properties

build_and_update.ps1
update.txt