.old_apk/
.idea/
.dart_tool/
.flutter-plugins-dependencies
build/

/lib/core/keys.dart

# Android Studio will place build artifacts here
/android/.gradle/
/android/build/
/android/keystore/
/android/.kotlin/

update.txt